<footer class="footer">
<div class="row d-flex justify-content-center">
  <div class="d-flex justify-content-center">© 2023 Le23du8 DsL. Tous droits réservés
  </div>
  <div class="d-flex justify-content-between">
    <div>Contacts</div>
    <div>Vie privée(RGPD)</div>
    <div>Conditions d'utilisation</div>
  </div>
</div>

