<div class="footer">
    <div class="row mt-2 d-flex justify-content-center align-items-center flex-wrap p-2">
      <div class="col-md-2 col-sm-12 p-0">
        <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
          <%= link_to "/", class: "footer-brand" do %>
            <%= image_tag "content.png" %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-8 col-sm-12 text-center">
        <div>
          © 2023 Le23du8 Tous droits réservés
        </div>
        <div class="mt-2">
          <a href="mailto:serrada@gmail.com" class="btn-back">
            <i class="fa-regular fa-envelope fa-xs"></i> Contact
          </a>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 text-center mt-2">
        <div>
          <a href="/legal#section-milieu" class="btn-back">Conditions d'utilisation</a>
        </div>
        <div>
          <a href="/legal#section-fin" class="btn-back">Vie privée(RGPD)</a>
        </div>
        <div>
          <a href="/legal#section-debut" class="btn-back">À propos</a>
        </div>
      </div>
    </div>
</div>
