<div class="footer">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-2 p-0">
        <%= link_to "/", class: "footer-brand" do %>
          <%= image_tag "content.png" %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="text-center">
          © 2023 Le23du8 DsL. Tous droits réservés
        </div>
        <div class="text-center mt-2">
          <a href="mailto:serrada@gmail.com" style="text-decoration: none;">
            <i class="fa-regular fa-envelope fa-xs"></i> Contact
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <a href="/legal" style="text-decoration: none; color: inherit;">Conditions d'utilisation</a>
        </div>
        <div class="text-center">
          <a href="/legal" style="text-decoration: none; color: inherit;">Vie privée(RGPD)</a>
        </div>
        <div class="text-center">
          <a href="/about" style="text-decoration: none; color: inherit;">À propos</a>
        </div>
      </div>
    </div>
  </div>
</div>
