<div class="container">
  <h1>"Chers résidents, propriétaires et visiteurs </h1>

  <p>Bienvenue sur <strong>"Le23du8"</strong> ! Notre site a été spécialement conçu pour vous offrir un accès facile à toutes les informations concernant notre copropriété, ainsi qu'à une multitude de ressources utiles.</p>
  <% if user_signed_in? %>
    <p>Votre rôle : <%= current_user.role %></p>
  <% end %>
</div>

