<div class="container">
  <div class="text-center my-3">
    <h2>Politique de confidentialité du site web de la Copropriété Le23du8</h2>
  </div>

  <p style="my-5"><strong>Dernière mise à jour :</strong> [Septembre 2023]</p>

  <h2>1. Collecte d'informations</h2>
  <p>Nous collectons les types d'informations suivants lorsque vous interagissez avec notre site web :</p>
  <ul>
    <li><strong>Informations d'inscription :</strong> Lorsque vous vous inscrivez sur notre site web en tant que membre, nous collectons des informations telles que votre nom, votre adresse e-mail, votre numéro de téléphone, et d'autres informations nécessaires pour créer et gérer votre compte.</li>
    <li><strong>Données de paiement :</strong> Si vous effectuez des paiements en ligne, nous collectons les informations nécessaires pour traiter ces paiements, telles que les informations de carte de crédit ou de compte bancaire. Veuillez noter que nous ne stockons pas ces informations de paiement, elles sont traitées de manière sécurisée par notre prestataire de services de paiement.</li>
    <li><strong>Données de communication :</strong> Nous collectons les informations que vous nous fournissez lorsque vous communiquez avec nous, que ce soit par e-mail, chat en direct, téléphone ou d'autres moyens de communication.</li>
    <li><strong>Données de navigation :</strong> Nous collectons des informations sur votre utilisation de notre site web, y compris les pages que vous consultez, les liens sur lesquels vous cliquez et d'autres actions effectuées pendant votre visite.</li>
  </ul>

  <h2>2. Utilisation des informations</h2>
  <p>Nous utilisons les informations collectées pour les finalités suivantes :</p>
  <ul>
    <li>Gérer et maintenir votre compte utilisateur.</li>
    <li>Traiter les paiements et les transactions financières.</li>
    <li>Répondre à vos questions, commentaires ou préoccupations.</li>
    <li>Personnaliser votre expérience sur notre site web.</li>
    <li>Analyser et améliorer nos services et notre site web.</li>
    <li>Vous envoyer des mises à jour, des notifications et des informations relatives à votre compte et à nos services.</li>
    <li>Respecter nos obligations légales et réglementaires.</li>
  </ul>


  <h2>3. Protection des données</h2>
  <p>Nous prenons des mesures de sécurité appropriées pour protéger les informations que vous nous fournissez contre la perte, l'accès non autorisé, la divulgation, la modification ou la destruction. Cela comprend la sécurisation de notre site web par des protocoles de sécurité modernes.</p>
</div>
