<div class="container devise-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2 style="text-align:center;">Dashboard</h2>
      <%= link_to "Nouvelle Réunion", "/meetings/new", class: "btn btn-flat btn-login" if current_user.vip? %>
      <%= link_to "Nouveau Devis", "/quotes/new", class: "btn btn-flat btn-login" if current_user.vip? %>
    </div>
  </div>
</div>
