.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #1A65A5;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  border: 2px solid #1A65A5;
  background: rgb( 53, 154, 157);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;

}

.btn-rounded {
  background: rgb( 53, 154, 157);
  border-radius: 20px;
  color: white;
}

.btn-rounded:hover {
  background: rgb( 53, 154, 157);
  border: 2px solid #1A65A5;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;

}

.btn-danger {
  background: #F44336;
  border-radius: 20px;
  color: white;
}

.btn-danger:hover {
  background: #F44336;
  border: 2px solid #F44336;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;

}

.btn-switch {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #1A65A5;
  transition: background 0.3s ease;
}
