[data-bs-theme=light] .btn-flat {
  padding: 4px 10px;
  border: 1px solid rgb( 53, 154, 157);
  border-radius: 20px;
  transition: background 0.3s ease;
}

[data-bs-theme=light] .btn-flat:hover {
  background: $gray-400;
  border: 1px solid rgb( 53, 154, 157);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}

[data-bs-theme=dark] .btn-flat {
  padding: 4px 10px;
  border: 1px solid rgb( 53, 154, 157);
  border-radius: 20px;
  transition: background 0.3s ease;
}

[data-bs-theme=dark] .btn-flat:hover {
  background: $gray-600;
  border: 1px solid rgb( 53, 154, 157);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}

.btn-rounded {
  background: rgb( 53, 154, 157);
  border-radius: 20px;
  color: white;
  transition: background 0.3s ease;

}

.btn-rounded:hover {
  background: rgb( 53, 154, 157);
  border: 1px solid #1A65A5;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;

}

.btn-danger {
  background: #F44336;
  border-radius: 20px;
  color: white;
  transition: background 0.3s ease;

}

.btn-danger:hover {
  background: #F44336;
  border: 1px solid #F44336;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;

}

// .btn-switch {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 20px;
//   background: #1A65A5;
//   transition: background 0.3s ease;
// }


.btn-switch {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid $gray-500;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;


}
.btn-switch:hover {
  background: $gray-300;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;

}

.fa-moon {
  display: none;
}

[data-theme="light"] .fa-sun,
[data-theme="dark"] .fa-moon {
  display: inline;
}

[data-theme="light"] .fa-moon,
[data-theme="dark"] .fa-sun {
  display: none;
}


.btn-back {
  color: $turquoise; /* Couleur du texte du bouton */
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 11px;
}

.btn-back:hover {
  color: $turquoise;
  text-decoration: underline;
}

.dropdown-item:hover {
  background-color: $turquoise;
}
