.form-container {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #dad8d8;
  padding: 3em;
}

.form-margin {
  margin-top: 20px;
}

[data-bs-theme=dark] .form-container {
  color: var(--bs-primary-text-dark-lighter);
  background-color: var(--bs-primary-bg-dark);
  box-shadow: none;
  border-radius: 5px;
  border-color: white;
  background-color: $gray-800;
  border: 1px solid $gray-700;
}

.form-control {
  border-radius: 5px;
}

.select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
