.circle-icon-delete {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $red-500;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  transition: background-color 0.3s;
}

[data-bs-theme=light] .circle-icon-delete:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: $gray-400;
}

[data-bs-theme=dark] .circle-icon-delete:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: $gray-600;
}

//////////////////////////////////////////////*

.circle-icon-edit {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $orange-500;
  border-radius: 50%;
  text-align: center;
  line-height: 30px; /* Centrer le contenu verticalement */
  transition: background-color 0.3s;
}

[data-bs-theme=light] .circle-icon-edit:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: $gray-400;
}

[data-bs-theme=dark] .circle-icon-edit:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: $gray-600;
}

//////////////////////////////////////////////*
