.navbar-lewagon {
  justify-content: space-between;
  background: rgb(165, 220, 224);
  border-bottom: 4px solid rgb( 53, 154, 157);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 10px;
  width: 150px;

}
.navbar-nav {
  gap: 10px;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: rgb(128, 158, 173)
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb( 53, 154, 157);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1A65A5;
  color: white;
}

