[data-bs-theme=light] .element {
  color: var(--bs-primary-text-light);
  background-color: var(--bs-primary-bg-light);
}

[data-bs-theme=dark] .element {
  color: var(--bs-primary-text-dark-lighter);
  background-color: var(--bs-primary-bg-dark);
}

trix-toolbar .trix-button-group--file-tools {
  display: none;
}

trix-toolbar .trix-button--icon-code {
  display: none;
}

trix-toolbar .trix-button--icon-quote {
  display: none;
}

trix-toolbar .trix-button--icon-undo {
  display: none;
}

trix-toolbar .trix-button--icon-redo {
  display: none;
}

trix-toolbar .trix-button-group--history-tools {
  display: none;
}
